<component name="ArtifactManager">
  <artifact type="war" name="springMVC-calculator:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springMVC-calculator</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringMVC.war">
      <element id="artifact" artifact-name="springMVC-calculator:war exploded" />
    </root>
  </artifact>
</component>